################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DavidTestProject/AdditionalTest/AdditionalTest/bin/Debug
/DavidTestProject/AdditionalTest/AdditionalTest/obj/Debug
/DavidTestProject/AdditionalTest/.vs/AdditionalTest/v16/Server/sqlite3
/DavidTestProject/AdditionalTest/.vs/AdditionalTest/v16/.suo

